* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

section {
  margin-top: 50px;
}

.step1, .step2, .step3 {
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
}

.step2 {
  margin: 0 30px;
}

.step1-img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step2-img {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step3-img {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-logo {
  color: #fff;
  padding: 3px;
  background-color: #FF9A4B;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  margin: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA
}